body {
    background-color: #EAEAEA;
}
hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 10%;
}
h1 {
    color: #252A34;
}
h3 {
    color: #66BFBF;
}