/* TAG SELECTORS*/

body {
    background-color: #EAEAEA;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 20%;
}
h1 {
    color: #252A34;
}
h3 {
    color: #66BFBF;
}

/* CLASS SELECTORS*/
.profile {
    border-radius: 5px;
}

/* ID SELECTORS*/
#heading {
    color:aquamarine;
}